.form {
  background-color: #e4e4e4;
}

.form-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: mx-auto;
  padding: 30px 0;
}

.input-label {
  margin-bottom: 1rem;
}

.input-baseline-target-years {
  display: flex;
}
